@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-weight: 100 900;
}

/* Fondo con degradado moderno */
body {
    background: linear-gradient(135deg, #2C3E50, #4A69BD);
    color: black;
}